/* Work Sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.text-description-gray {
    color: #727272;


}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}


.btn-primary {
    width: 190px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

/* header related styles */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 20px;

}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner related styles */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 4rem;
    font-weight: 700;

}


.banner img {
    width: 100%;
    margin-top: 20px;
}



/* main related styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams related styles */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 85px;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-content-title {
    font-size: 2.8rem;

}

.teams-content-title .text-description-gray {
    font-weight: 500;
}

.teams-content-title .teams-features {
    color: #FF900E;
    font-weight: 700;
}

/* facts related styles */
.facts-card-container {
    display: flex;
    justify-content: space-around;

}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;

}

.facts-card-container .card-title {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

.facts-card-container .card {
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 45px 30px;
}




/* media query styles */

/* for mobiles */
@media screen and (max-width:576px) {

    nav,
    .teams-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding-left: 40px;
        padding-right: 40px;

    }

    header {
        padding: 20px;
    }
}

/* for tablets & other medium devices */
@media screen and (min-width:576px) and (max-width:960px) {

    nav,
    .teams-container {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }
}