/* Work Sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.text-description-gray {
    color: #727272;


}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}


.btn-primary {
    width: 190px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

/* header related styles */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 20px;

}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner related styles */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 30px;

}
.banner-content .btn-primary{
    margin-top: 50px;
}


.banner img {
    width: 100%;
    margin-top: 20px;
}



/* main related styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams related styles */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 85px;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
    
}

.teams-content-title {
    font-size: 2.8rem;

}
.teams-content .text-description-gray{
    margin-top: 20px;
}
.teams-content .btn-primary{
    margin-top: 20px;
}

.teams-content-title .text-description-gray {
    font-weight: 500;
}

.teams-content-title .teams-features {
    color: #FF900E;
    font-weight: 700;
}

/* feature related styles */
.feature {
    display: flex;
    margin-top: 130px;
    gap: 130px;
}

.feature-content .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-content .text-description-gray {
    margin-top: 25px;
    margin-bottom: 30px;
}

.feature-content .card {
    width: 586px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    padding: 30px;

}
.feature-img img{
    height: 90%;
    margin-left: 130px;
}

.experience-badge {
    border-radius: 8px;
    color: #FFF;
    background: #FF900E;
    width: 342px;
    text-align: center;
    margin-left: 40px;
    padding: 40px;
    position: relative;
   bottom: 130px;
}
.experience-badge h2{
font-size: 4rem;
margin: 0;
}
.experience-badge p{
font-size: 1.55rem;
}

/* facts related styles */

.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;

}

.facts-card-container .card-title {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

.facts-card-container .card {
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 45px 30px;
}

/* sponsors related styles */
.sponsors {
    text-align: center;
    margin-top: 180px;
}
.sponsors .text-description-gray{
   margin: 30px 500px;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 40px;

}

/* footer related styles */
footer {
    max-width: 1440px;
    border-radius: 8px;
    background: #FFF4E7;
    color: #424242;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding: 40px 400px;
    margin: 130px 250px;
}




/* media query styles */

/* for mobiles */
@media screen and (max-width:576px) {

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container, .feature {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container {
        padding-left: 40px;
        padding-right: 40px;

    }
.feature-content .card{
    width: 80%;
    margin: 0;
    padding: 10px;
}
    .feature-img img{
        width: 90%;
        margin: 0 auto;
    }
    .experience-badge{
        width: 250px;
        position: static;
        margin-left: 10px;
    }
    .facts .text-description-gray{
        margin: auto;
    }

    .facts-card-container {
        gap: 20px;
    }
    .sponsors-img-container {
        padding: 0 75px;
    }
    .sponsors .text-description-gray{
        margin: 20px 20px;
    }

    header {
        padding: 20px;
    }

    footer {
        margin: auto;
        padding: 5px;
    }
}

/* for tablets & other medium devices */
@media screen and (min-width:576px) and (max-width:960px) {

    nav,
    .teams-container,
    .sponsors-img-container, .feature {
        flex-direction: column;
    }
    .feature-img img{
        width: 90%;
        margin-left: 90px;
       
    }

    .sponsors-img-container {
        width: auto;
    }
    .sponsors .text-description-gray{
        margin: 20px 200px;
    }

    .facts-card-container {
        gap: 20px;
    }

    header {
        padding: 50px;
    
    }
}   footer{
       
        
        
        padding: 20px 50px;
        margin: 30px;
    }
    
